:root {
    --vp-font-family-base:
        "Noto Serif",
        "Noto Serif SC",
        "Noto Serif JP",
        "Noto Serif KR",
        "Noto Serif TC",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    --vp-font-family-mono:
        "Noto Serif",
        "Noto Serif SC",
        "Noto Serif JP",
        "Noto Serif KR",
        "Noto Serif TC",
        ui-monospace,
        "Menlo",
        "Monaco",
        "Consolas",
        "Liberation Mono",
        "Courier New",
        monospace;

    font-optical-sizing: auto;
}
  
:root:where(:lang(zh)),
:root:where(:lang(zh-CN)) {
    --vp-font-family-base:
        "Noto Serif SC",
        "Noto Serif",
        "Noto Serif JP",
        "Noto Serif KR",
        "Noto Serif TC",
        ui-sans-serif,
        system-ui,
        serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}